---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER>&exclude=minutely&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Sat, 23 Sep 2023 01:38:16 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?exclude=minutely&key=<WEATHER>&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Sat, 23 Sep 2023 01:40:29 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1?appid=<WEATHER>&exclude=minutely&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '404'
      Cdn-Cachedat:
      - '09/23/2023 04:09:20'
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '404'
      Cdn-Requestid:
      - f3796e98123ede372208f7591538f621
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 23 Sep 2023 04:09:20 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?appid=<WEATHER>&exclude=minutely&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '401'
      Cdn-Cachedat:
      - '09/23/2023 04:12:48'
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '401'
      Cdn-Requestid:
      - d2be54425249eb20b8de0cc821475a06
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1002,"message":"API key is invalid or not provided."}}'
  recorded_at: Sat, 23 Sep 2023 04:12:48 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/current.json?exclude=minutely&key=<WEATHER>&lat=39.74001&lon=-104.99202&q=39.74001,-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '404'
      Cdn-Cachedat:
      - '09/23/2023 14:51:33'
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '404'
      Cdn-Requestid:
      - aa46b210b8126ea0751abe667bf1cfb4
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 23 Sep 2023 14:51:33 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?exclude=minutely&key=<WEATHER>&lat=39.74001&lon=-104.99202&q=39.74001,-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/23/2023 14:54:01'
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - fb8a06c08a8e562db67dfdfd6e92360e
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1695480792,"localtime":"2023-09-23
        8:53"},"current":{"last_updated_epoch":1695480300,"last_updated":"2023-09-23
        08:45","temp_c":8.4,"temp_f":47.1,"is_day":1,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":100,"wind_dir":"E","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"humidity":67,"cloud":75,"feelslike_c":6.6,"feelslike_f":44.0,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":8.8,"gust_kph":14.2}}'
  recorded_at: Sat, 23 Sep 2023 14:54:00 GMT
recorded_with: VCR 6.2.0
