---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?exclude=minutely&key=<WEATHER>&lat=39.74001&lon=-104.99202&q=39.74001,-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/23/2023 15:30:43'
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 8998835e085b73ba025d00468060e895
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1695482994,"localtime":"2023-09-23
        9:29"},"current":{"last_updated_epoch":1695482100,"last_updated":"2023-09-23
        09:15","temp_c":11.6,"temp_f":52.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":140,"wind_dir":"SE","pressure_mb":1018.0,"pressure_in":30.05,"precip_mm":0.0,"precip_in":0.0,"humidity":65,"cloud":75,"feelslike_c":10.7,"feelslike_f":51.3,"vis_km":16.0,"vis_miles":9.0,"uv":3.0,"gust_mph":6.4,"gust_kph":10.4}}'
  recorded_at: Sat, 23 Sep 2023 15:30:43 GMT
recorded_with: VCR 6.2.0
